* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  width: 100%;
  height: 15vh;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

nav .logo{
  letter-spacing: 3px;
  display: grid;
  padding: 4%;
}

.logo p{
  color: #00b894;
  text-align: center;
  font-size: 8px;
}

nav .menu {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

nav .menu a {
  width: 25%;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav .menu a:first-child {
  color: #00b894;
}

main {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

section h3 {
  font-size: 20px;
  /* font-weight: 200; */
  letter-spacing: 3px;
}

section h1 {
  color: #00b894;
  margin: 10px 0 0 0;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 10px;
  text-transform: uppercase;
}

section h2 {
  margin: 10px 0 35px 0;
  font-size: 30px;
}

section p {
  font-size: 15px;
  word-spacing: 2px;
  margin-bottom: 40px;
}

section a {
  padding: 12px 30px;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}

section .btnone {
  /*background: #00b894;*/
  background: #fff;
  color: #000;
}

.btnone:hover {
  background: #00b894;
  color: white;
}

section .btntwo {
  background: #fff;
  color: black;
}

.btntwo:hover {
  background: #00b894;
  color: #000;
}

.change_content:after {
  content: "";
  animation: changetext 15s infinite linear;
  color: #00b894;
}

@keyframes changetext {
  0% {
    content: "Neermahal";
  }
  20% {
    content: "Unakoti";
  }
  35% {
    content: "Rudrasagar Lake";
  }
  60% {
    content: "Dumboor";
  }
  80% {
    content: "Ujjayanta Palace";
  }
  100% {
    content: "Chabimura";
  }
}

